# Core web server
flask==3.0.3
gunicorn==23.0.0

# Audio processing
demucs==4.0.1
torchaudio
torch
ffmpeg-python

# YouTube download
yt-dlp==2025.1.7

# Utility
requests
numpy
scipy
pydub

# Logging and compression
tqdm
