# Web framework
Flask==3.0.3
gunicorn==23.0.0

# Audio processing
demucs==4.0.1
torch==2.9.0
torchaudio==2.9.0
ffmpeg-python==0.2.0

# YouTube download
yt-dlp==2024.12.13

# Utility
requests==2.31.0
numpy==1.26.1
scipy==1.12.2
pydub==0.25.1

# Logging and progress
tqdm==4.68.0
